@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
}

body, html {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

body {
    background-image: linear-gradient(90deg, rgb(7, 60, 109), rgb(38, 89, 165));
}

.contain-form {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.formulario {
    height: auto;
    width: 100%;
    max-width: 900px;
    background-color: #0000009f;
    border-radius: 25px;
    margin-top: 150px;
    padding: 20px;
}


.title-form h2 {
    color: #fff;
    font-size: 2.5rem;

}

.lista {
    width: 100%;
    padding-left: 60px;
    margin-top: 40px;
}

li {
    color: #fff;
    font-size: 1.5rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;
}

label {
    color: #fff;
    font-size: 1.5rem;
}

input {
    height: 50px;
    font-size: 1.3rem;
    border: none;
    padding-left: 10px;
    outline: none;
}

.btn {
    margin-top: 30px;
    height: 60px;
    background-color: rgb(39, 102, 196);
    color: #fff;
    transition: all .2s ease-in-out 0s;
    font-size: 1.5rem;
}

.btn:hover {
    background-color: rgb(7, 60, 139);
    cursor: pointer;
}

.erro-text {
    color: #e43535;
    font-size: 1.2rem;
}
